.grid{
    height: 100%;
    padding: 0px;
    background-color: var(--slide-color-body-slide); // Variable creada de themes en variables.scss
}

.container {
    width: 90%;
    padding: 10px;
    background-color: var(--slide-color-background); // Variable creada de themes en variables.scss
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}

.mssg{
    font-size: 12px;
    color: red;
}