ion-slides {
  height: 100%;
  background-color: white;
  max-width: 800px;
}
  
.swiper-slide {
  display: block;
  margin-bottom: 60px;
  background-color: var(--slide-color-background); // Variable creada de themes en variables.scss
}
  
ion-slide > h1 {
margin: 30px 20px 20px 50px;
color: #CEC8FA;
text-align: center;
font-size: 25px;
}

ion-slide > h2 {
  margin: 30px 20px 20px 20px;
  color: var(--slide-color-body-slide); // Variable creada de themes en variables.scss
  text-align: center;
  font-size: 18px;
  }
  
ion-slide > p {
  font-style: italic;
  font-size: 22px;
  padding: 20px 20px 20px 20px;
  border-color: dimgrey;
  border-style: dashed;
  color: #CFC9FF;
}
  
ion-slide > ion-icon {
color: var(--slide-color-body-slide); // Variable creada de themes en variables.scss
font-size: 50px;

}
  
ion-slide > ion-icon[name="close"]{
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color: var(--slide-color-icon-close); // Variable creada de themes en variables.scss
  font-size: 40px;
  }
  
ion-slide > img {
  width: 370px;
  height: 220px;
  }
  